@use "./settings.scss" as setting;
@use "./buttons.scss" as button;


// Switch between desktop and mobile nav button size.
$menuNavMinSize:1050px;

nav.heading {
  position: relative;
  background-color: rgb(182, 168, 167, 0.5);
  padding: 1rem;
  border-radius: 10px;
  color: #5e3735;
  box-shadow: 6px 6px 25px 0px rgb(182 168 167 / 50%);
  margin-bottom: 0.5rem;

  > span > a {
    font-family: 'CormorantGaramond';
    font-size: 25px;
    text-decoration: none;

    @extend %buttonChangeTransition;
    &:hover {
      opacity: 0.5;
    }
  }

  // Only show these clickable links for Desktop,
  //  Submenu bar for tablet.
  div.linkButtons {
    @media (max-width: $menuNavMinSize) {
      display: none;
    }
  }

  // Link buttons at the top of the screen.
  div.linkButtons, div.mobileMenu {
    //display:inline-block;
    float: right;

    position: relative;
    padding: 5px;
    top: -2px;
    > a {
      @include button.buttonLink;
    }
  }
}
